.aboutme {
  padding: 0 70px;
  position: relative;
}

.aboutme__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  padding: 110px 0 23px 0;
  letter-spacing: -1px;
  margin: 0;
  border-bottom: 1px solid #000000;
  color: #000000;
}

.aboutme__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 101px;
}

.aboutme__heading-name{
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  color: #000000;
  margin: 0;
  letter-spacing: -1px;
  padding: 66px 0 18px 0px;
  max-width: 600px;
}

.aboutme__heading-profession {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
  margin: 0;
  padding: 0 0 26px 0px;
  max-width: 600px;
}

.aboutme__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #000000;
  margin: 0;
  padding: 0 0 99px 0;
  max-width: 600px; 
}

.aboutme__link {
  color: #000;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  text-decoration: none;
  transition: opacity .2s linear;
  cursor: pointer;
  max-width: 46px;
}

.aboutme__link:hover {
  opacity: .65;
}

.aboutme__avatar {
  height: 327px;
  width: 270px;
  background-repeat: no-repeat;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  position: absolute;
  top: 227px;
  right: 70px;
  z-index: 3;
  border-radius: 10px;
}

@media screen and (max-width: 1030px) {
  .aboutme {
    padding: 0 50px;
  }
  
  .aboutme__title {
    padding: 90px 0 23px 0;
  }
  
  .aboutme__container {
    padding-bottom: 91px;
  }
  
  .aboutme__heading-name{
    font-size: 40px;
    line-height: 40px;
    padding: 66px 0 16px 0px;
    max-width: 348px;
  }
  
  .aboutme__heading-profession {
    font-size: 12px;
    line-height: 18px;
    padding: 0 0 20px 0px;
    max-width: 348px;
  }
  
  .aboutme__text {
    font-size: 12px;
    line-height: 18px;
    padding: 0 0 87px 0;
    max-width: 364px; 
  }
   
  .aboutme__avatar {
    height: 307px;
    width: 255px;
    top: 207px;
    right: 50px;
  }
}


@media screen and (max-width: 745px) {
  .aboutme {
    padding: 0 14px;
  }
  
  .aboutme__title {
    padding: 70px 0 28px 0;
    font-size: 18px;
    line-height: 22px;
  }
  
  .aboutme__container {
    padding-bottom: 70px;
    align-items: center;
    justify-content: center;
  }
  
  .aboutme__heading-name{
    font-size: 30px;
    line-height: 36px;
    padding: 452px 0 20px 0px;
    max-width: 292px;
  }
  
  .aboutme__heading-profession {
    font-size: 11px;
    line-height: 16px;
    padding: 0 0 20px 0px;
    max-width: 292px;
  }
  
  .aboutme__text {
    font-size: 11px;
    line-height: 16px;
    padding: 0 0 40px 0;
    max-width: 292px;
  }
   
  .aboutme__avatar {
    height: 352px;
    width: 292px;
    margin: 181px auto 0;
    top: 0;
    right: 0;
    left: 0;
  }
}


@media screen and (max-width: 320px) {
  .aboutme__container {
    align-items: normal;
    justify-content: normal;
  }
}