.portfolio {
  padding: 0 70px;
}

.portfolio__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  padding: 0 0 50px 0;
  margin: 0;
  color: #A0A0A0;
}

.portfolio__list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 125px 0;
  gap: 20px;
}

.portfolio__list-item {
  border-bottom: #E8E8E8 1px solid;
  padding-bottom: 19px;
}

.portfolio__list-item:last-child {
  border: none;
}

.portfolio__link {
  color: #000;
  font-size: 30px;
  line-height: 50px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity .2s linear;
  cursor: pointer;
  letter-spacing: -1px;
  display: flex;
  justify-content: space-between;
}

.portfolio__link:hover {
  opacity: .65;
}

.portfolio__arrow {
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 0 50px;
  }
  
  .portfolio__list {
    padding: 0 0 90px 0;
  }
  
  .portfolio__link {
    font-size: 28px;
  }
  
  .portfolio__arrow {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 540px) {
  .portfolio {
    padding: 0 14px;
  }

  .portfolio__title {
    font-size: 14px;
    padding: 0 0 40px 0;
  }
  
  .portfolio__list {
    padding: 0 0 70px 0;
  }
  
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }
  
  .portfolio__arrow {
    width: 11px;
    height: 11px;
  }
}

