.techs {
  background-color: #F5F5F5;
}

.techs__container {
  max-width: 1280px;
  margin: 0 auto;
}

.techs__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  padding: 100px 0 23px 0;
  letter-spacing: -1px;
  margin: 0 70px;
  border-bottom: 1px solid #000000;
  color: #000000;
}

.techs__subtitle {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -1px;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 90px 70px 26px 70px;
}

.techs__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #000000;
  margin: 0 auto;
  padding: 0 70px 100px 70px;
  max-width: 460px;
}

.techs__list {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 0 70px 100px 70px;
  gap: 10px;
}

.techs__list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E8E8E8;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -1px;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  width: 90px;
  height: 60px;
}

@media screen and (max-width: 768px) {

  .techs__title {
    padding: 90px 0 23px 0;
    margin: 0 50px;
  }
  
  .techs__subtitle {
    padding: 80px 50px 22px 50px;
  }
  
  .techs__text {
    font-size: 12px;
    line-height: 18px;
    margin: 0 auto;
    padding: 0 50px 83px 50px;
  }
  
  .techs__list {
    padding: 0 50px 90px 50px;
  }
  
  .techs__list-item {
    font-size: 12px;
    line-height: 15px;
    width: 84px;
    height: 57px;
  }
}

@media screen and (max-width: 570px) {

  .techs__title {
    margin: 0 18px;
    padding: 70px 0 29px 0;
    font-size: 18px;
    line-height: 22px;
  }
  
  .techs__subtitle {
    padding: 60px 18px 24px 18px;
    font-size: 30px;
    line-height: 36px;
  }
  
  .techs__text {
    font-size: 11px;
    line-height: 16px;
    margin: 0 auto;
    padding: 0 18px 50px 18px;
  }
  
  .techs__list {
    padding: 0 18px 70px 18px;
    display: grid;
    grid-template-columns: minmax(84px, 57px) minmax(84px, 57px) minmax(84px, 57px);
  }
}

@media screen and (max-width: 380px) {
  .techs__list {
    grid-template-columns: minmax(84px, 57px) minmax(84px, 57px);
  }
}